@{
ViewData["Title" ] = "Add car to Catalog";
}

<link href="/css/createcar.css" rel="stylesheet">


<h1>Register new car for Catalog</h1>

    <div class="row create-form">

        <div class="col-md-6 offset-md-3 form-container">

            <div class="form-group row">
                <label for="text1" class="col-4 col-form-label">Make</label>
                <div class="col-8">
                    <input id="txtMake" name="text1" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text2" class="col-4 col-form-label">Model</label>
                <div class="col-8">
                    <input id="txtModel" name="text2" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text3" class="col-4 col-form-label">Year</label>
                <div class="col-8">
                    <input id="txtYear" name="text3" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text4" class="col-4 col-form-label">Description</label>
                <div class="col-8">
                    <input id="txtDesc" name="text4" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text5" class="col-4 col-form-label">Color</label>
                <div class="col-8">
                    <input id="txtCol" name="text5" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text6" class="col-4 col-form-label">Horse Power</label>
                <div class="col-8">
                    <input id="txtHP" name="text6" type="number" class="form-control">
                </div>
            </div>
       
            <div class="form-group row">
                <label for="text" class="col-4 col-form-label">Price</label>
                <div class="col-8">
                    <input id="txtPrice" name="text" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text7" class="col-4 col-form-label">Image</label>
                <div class="col-8">
                    <input id="txtImg" name="text7" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text8" class="col-4 col-form-label">Miles Per Gallon</label>
                <div class="col-8">
                    <input id="txtMPG" name="text8" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text9" class="col-4 col-form-label">Passengers</label>
                <div class="col-8">
                    <input id="txtPass" name="text9" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text10" class="col-4 col-form-label">Cargo Space</label>
                <div class="col-8">
                    <input id="txtCargo" name="text10" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button id="btnSave" class="btn btn-info">Save Car</button>
                </div>
            </div>

        </div>

    </div>
    


<script src="/js/createcar.js"></script>