.card {
   display: inline-block;
}

.card img {
    width: 100%;
    vertical-align: middle;
}

.price {
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 67, 233);
}

